{
  "extends": [
    "universe",
    "plugin:prettier/recommended",
    "prettier/react",
    "prettier/standard"
  ],
  "globals": {
    "__DEV__": false
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["react", "jsx-a11y", "@typescript-eslint"],
  "rules": {
    "react/jsx-uses-react": [1],
    "react/jsx-uses-vars": [2],
    "@typescript-eslint/no-unused-vars": [
      "warn",
      { "vars": "all", "args": "none", "ignoreRestSiblings": false }
    ]
  },
  "env": {
    "browser": true,
    "node": true
  }
}
